*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px,auto));
  grid-auto-rows: minmax(15vw,auto);

  
  background: rgba(53, 173, 137, 0.863);
  font-family: 'Poppins', sans-serif;
}
.add{
  // margin: 2rem auto;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.6rem 1rem;
  background:rgba(230, 230, 12, 0.932);
  i{
    margin-right: 0.5rem;
  }
}
.note{
  margin: 30px;
  margin-top: 60px;
  background: rgb(255, 255, 255);
  max-width: 450px;
  height: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.219);
  .tools{
    background: rgba(230, 230, 21, 0.87);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem;
    p{
      font-size: 0.8rem;
      margin: 0 10rem 0 0;
    }
    button{
      cursor: pointer;
      color: rgb(235, 54, 54);
      border: none;
      background-color:transparent;
      font-size: 1.1rem;
      margin-left: 0.7rem;
    }
  }
  .main{
    background: #fff;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  textarea{
    font-family: inherit;
    font-size: 1.2rem;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
  }
  .hidden{
    display: none;
  }
}
